# Intellij
.idea/
*.iml
*.iws

*.log

# Maven
log/
target/
!components/general/target/

# Node
node/
node_modules/

# ESlint
coverage/
package-lock.json

# vscode
.vscode/

# ES6compilation
**/_compiled/*.js

# MacOS
# General
.DS_Store
**/.DS_Store
Desktop.ini

# Thumbnails
._*

# Files that might appear in the root of a volume
.fseventsd
.Trashes
.Spotlight-V100
archaius/mvnw.cmd
config-server/.mvn/wrapper/maven-wrapper.jar
config-server/.mvn/wrapper/maven-wrapper.properties
config-server/mvnw
config-server/mvnw.cmd
eureka-server/.mvn/wrapper/maven-wrapper.jar
eureka-server/.mvn/wrapper/maven-wrapper.properties
eureka-server/mvnw
eureka-server/mvnw.cmd
guest-services/.mvn/wrapper/maven-wrapper.jar
guest-services/.mvn/wrapper/maven-wrapper.properties
guest-services/mvnw
guest-services/mvnw.cmd
reservation-services/reservation-services.iml
room-reservation-service/.mvn/wrapper/maven-wrapper.jar
room-reservation-service/.mvn/wrapper/maven-wrapper.properties
room-reservation-service/mvnw
room-reservation-service/mvnw.cmd
room-services/room-services.iml
zuul-balance-server/.mvn/wrapper/maven-wrapper.jar
zuul-balance-server/.mvn/wrapper/maven-wrapper.properties
zuul-balance-server/mvnw
zuul-balance-server/mvnw.cmd
